<li class="nav-item">
    <a class="nav-link align-bottom" href="ShoppingCart/">
        <span class="fa-layers">
            <i class="fas fa-shopping-cart fa-lg"></i>
            <strong class="fa-layers-counter" style="color:orange">@ViewData["CartCount"]</strong>
        </span>
    </a>
</li>
